*{
    background-color:black;
}
p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    color: #FFD8CC;
    font-size:20px;
    text-align: center;
    
}
h2{
    font-family: 'Abel', sans-serif;
    color: #FFD8CC;
}